# --- Python/Environment ---
apps/audio-server/venv/
venv/
apps/audio-server/bin/
.env
*.egg-info

# --- Data ---
apps/audio-server/data/
*.db

# --- Python Bytecode ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Node ---
apps/web-client/node_modules/

node_modules/
npm-debug.log*

dist/
dist-ssr/
*.local