# --- Python/Environment ---
apps/audio-server/venv/
venv/
apps/audio-server/bin/
.env
*.egg-info
apps/audio-server/data/

# --- Python Bytecode ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Node ---
node_modules/
npm-debug.log*

dist/
dist-ssr/
*.local