@import "tailwindcss";

@theme {
    --color-brand: #E50914;
    --color-brand-hover: #B20710;
    --color-surface: #121212;
    --color-panel: #181818;
}

/* global resets */
@layer base {
    body {
        background-color: var(--color-surface) !important;
        color: white;
        margin: 0;
        overflow: hidden;
        overscroll-behavior: none;
        user-select: none;
    }
}

@utility no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }
}


:root {
  /* This ensures that even if the app "bounces," it bounces into black */
  background-color: var(--color-surface) !important;
  background: var(--color-surface) !important;
}

.global-player {
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
}